.Main_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    font-family: "GowunBatang-Regular";
}
.Main_Container p {
    margin: 10px;
}