@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

.Button_Container {
    display: flex;
    justify-content: center;
    .Bottom_btn {
        background-color: #005703;
        width: 22.9rem;
        height: 4.5rem;
        border-radius: 2rem;
        border-style: none;
        color: white;
        font-family: GowunBatang-Regular;
        font-size: 1.5rem;
    }
}