@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    padding-bottom: 2.8rem;
}

* {
    margin: 0;
    padding: 0;
}

.Button_Container {
    display: flex;
    justify-content: center;
    .Bottom_btn {
        background-color: #005703;
        padding: 1.1rem 6.2rem;
        border-radius: 2rem;
        border-style: none;
        color: white;
        font-family: GowunBatang-Regular;
        font-size: 1.5rem;
    }
}