@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  padding-bottom: 2.8rem;
}

.Select {
  display: flex;
  flex-direction: column;
  width: 100%; /* 화면에 꽉 차도록 설정 */
  max-width: 32.8rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-top: 2rem; /* 상단 여백 */
}

.CardText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GowunBatang-Regular";
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 30px; /* 요소 간격 조정 */
  // background-color: #bbe3c7; /* 초록색 배경 */
  // padding: 0.2rem 0.5rem; /* 텍스트 주변에 여백 추가 */
  // border-radius: 0.3rem; /* 하이라이트 모서리를 둥글게 */

  .label {
    font-family: "GowunBatang-Regular";
    font-weight: bold;
    color: #3b5e36;
    font-size: 16px;
    padding: 2px 5px;
    background-color: rgba(59, 94, 54, 0.1); // 연한 초록색 배경
    border-radius: 5px;
    font-style: italic;
  }
}

.CardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 10rem;
  background-color: #b5524d;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Gowun Batang";
}

.SelectButton {
  margin: 50px;
  display: flex;
  justify-content: center;
  width: 30rem;
}
