#CardMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 32.8rem;
    margin-top: 6rem;
    #Card{
        width: 100%;
        margin-bottom: 3.1rem;
    }
    #Date{
        font-family: "GownBatang-Regular";
        font-size: 1.4rem;
        line-height: normal;
    }
    #Name{
        font-family: "Miama-Regular";
        font-size: 1.5rem;
        line-height: normal;
    }
}

#WriteMain{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 11.7rem;
    img{
        width: 1.7rem;
        object-fit: contain;
    }
    #image{
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-family: "GownBatang-Regular";
        font-size: 1rem;
        margin-bottom: 2.2rem;
    }
    #From{
        float: right;
        font-family: "Miama-Regular";
        font-size: 1.5rem;
    }
}
