
* {
    margin: 0;
    padding: 0;
}

.Header_Container {
    display: flex;
    justify-content: center;
    padding-top: 2.8rem;
    width: 100%;
    height: fit-content;
    position: relative;
    
    .Logo {
        height: 5.3rem;
        object-fit: contain;
    }
    .Nav {
        position: absolute;
        right: 10%;
    
        .Nav_ico {
            width: 3rem;
            object-fit: contain;
        }
    }
    .Nav_list {
        width: 40rem;
        height: 25.9rem;
        position: absolute;
        margin-top: 7.5rem;
        background-image: url('../assets/img/BackgroundColor.jpeg');
        .List_drop {
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
            list-style: none;
            color: #005703;
            padding: 4.8rem;
            font-size: 1.8rem;
            font-family: "LibreCaslonText-Regular";
        }
    }
}

