@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    padding-bottom: 2.8rem;
}

.MainImg_Container {
    width: 100%;
    display: flex;
    margin-top: 5rem;

    .Slider_box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .SliderBtn {
            display: flex;
            padding: 0;
            align-items: center; 
            justify-content: center; 
            border-style: none;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            background-color: transparent;
            cursor: pointer;
            width: 2.5rem; 
            height: 2.5rem; 
        }
        .CardViewBox {
            display: flex;
            flex-direction: column;
            width: auto;
            .CardTitleText {
                font-family: "GowunBatang-Regular";
                font-size: 3rem;
            } 
            .CardImg {
                width: 50%;
            }
        }
    }
    .ImageSetSelector {
        display: flex;
    }
}