.Img_Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    .Slider_boxs {
        display: flex;
        flex-direction: column;
        .SliderBox1 {
            display: flex;
            .YearCardBox {
                display: flex;
                .CardTitle {
                    margin-bottom: 1.3rem;
                    font-family: "GowunBatang-Regular";
                    font-size: 1.6rem;
                } 
            }
        }
        
    }
    
    .Slider_boxs button {
        border-style: none;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: transparent;
        cursor: pointer;
    }
}