#PersonalInfo{
    margin-bottom: 4.3rem;
}

#Date{
    font-family: "GownBatang-Regular";
    font-size: 1.4rem;
    line-height: normal;
}
#Name{
    font-family: "Miama-Regular";
    font-size: 1.5rem;
    line-height: normal;
}