@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // 레이아웃 안정성을 위한 설정
}

// 타이틀 스타일
.title {
  font-family: "GowunBatang-Regular";
  font-size: 24px;
  color: #3b5e36;
  font-weight: bold;
  margin: 50px;
  text-align: center; // 타이틀 가운데 정렬
}

// 유저 정보 스타일
.user-info {
  display: flex; // .label과 .value를 수평으로 배치
  align-items: center;
  gap: 10px; // .label과 .value 간격 조정
  margin: 20px 50px; // 상하 20px, 좌우 50px 여백
  padding: 10px;
  // border: 1px solid rgba(59, 94, 54, 0.3); // 연한 초록색 테두리
  // border-radius: 10px; // 카드 모양을 위한 둥근 테두리
  // background-color: rgba(59, 94, 54, 0.05); // 연한 초록 배경

  .label {
    font-family: "GowunBatang-Regular";
    font-weight: bold;
    color: #3b5e36;
    font-size: 16px;
    padding: 2px 8px;
    background-color: rgba(59, 94, 54, 0.1); // 연한 초록색 배경
    border-radius: 5px;
    font-style: italic;
  }

  .value {
    font-family: "GowunBatang-Regular";
    font-size: 18px;
    color: #000000;
    font-weight: bold;
  }
}

.Logout_btn_box {
  display: flex;
  justify-content: center;
  gap: 20px; // 두 버튼 사이의 간격

  .Logout_btn,
  .Delete_btn {
    font-family: "GowunBatang-Regular";
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #3b5e36;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: #2c4930; // 버튼 호버 시 어두운 초록색
    }

    &:disabled {
      background-color: #b0b0b0; // 비활성화 시 회색
      cursor: not-allowed;
    }
  }
}
