#Write {
  display: flex;
  flex-direction: column;
  width: 32.8rem;
  margin-top: 0rem !important;
  margin-bottom: 11.7rem !important;
  margin: auto;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  outline: none;
}

button:active,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

#Review {
  display: flex;
  flex-direction: column;
  width: 32.8rem;
  margin-top: 0rem !important;
  margin-bottom: 11.7rem !important;
  margin: auto;
  justify-content: center;
  align-items: center;
  #image {
    display: none;
  }
}

#Review_Button {
  margin-top: 3.9rem;
}

#Link{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
}

#Link::-webkit-scrollbar{
  display: none;
}